<h2>Reset Password</h2>

<% if @user %>
	<%= form_for @user, url: password_reset_path(params[:id]) do |f| %>
		<% if @user.errors.any? %>
			<%= render 'shared/error_messages', object: f.object %>
		<% end %>
		<div class="field">
			<%= f.label :password %>
			<%= f.password_field :password %>
		</div>
		<div class="field">
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %>
		</div>
		<div class="actions">
			<%= f.submit "Update Password", class: 'btn btn-large btn-custom' %>
		</div>
	<% end %>
<% else %>
	<%= raise ActionController::RoutingError.new('Not Found') %>
<% end %>