<% if work.work_claims.any? %>
  <div class="mr-share">Your Share: 
    <% work.work_claims.each do |wc| %>
      <%= show_claim wc %>
    <% end %>
  </div>
<% end %>

<div class="edit-work">
<%= params.inspect %>
  <%= link_to "View/Edit this work", 
    current_user.admin? ? admin_work_path(work, params[:user_id]) : edit_user_work_path(current_user, work) %>
</div>

<% if work.audio_products.any? %>
  <% work.audio_products.each do |ap| %>
    <div class="audio-product">  
      <div class="title"><%= ap.album %></div>
      <div><%= ap.artist %></div>
      <div><%= ap.label %></div>
      <div><%= ap.catalog_number %></div>
    </div>
  <% end%>
<% else %>
  <div class="no-works-found">No audio product information available</div>
<% end %>

