<% provide(:title, "#{@user.first_name} #{@user.last_name}") %>
<div class="catalog-header">
  Catalog detail for <%="#{@user.last_name}, #{@user.first_name}"%>
</div>
<div class="accordion" id="accordion-works">
  <% @works.each do |work| %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-works"
          data-target="#collapse<%=work.id%>"><%= work.title %>
        </a>
        <%= status(work) %>
      </div>
      <div id="collapse<%=work.id%>" class="accordion-body collapse">
        <div class="accordion-inner">
          <%=render 'work_detail', work: work %>
        </div>
      </div>
    </div>
  <% end %>
</div>