<table class="table statements">
  <tr>
    <th>Year</th>
    <th>Quarter</th>
    <th>Amount</th>
    <th>Download</th>
  </tr>
  <% @statements.each do |statement| %>
    <tr id="<%= statement.id%>">
      <td class="content">
        <%= statement.year %>
      </td>
      <td class="content">
        <%= statement.quarter %>
      </td>
      <td class="content amount">
        <%= statement.amount %>
      </td>
      <td class="content">
        <%= link_to user_hosted_file_path(statement.user_id, 
                                          statement.filename) do %>
          <%= image_tag "/assets/pdficon.jpeg", id: "download" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>