<div class="statements-table-content">
  <% @statements.each do |statement| %>
    <div id="<%= statement.id%>" class="statement-record">
      <div class="date-content">
        <%= statement.date.strftime('%b %d') %>
      </div>
      <div class="quarter-content">
        <%= statement.quarter %>
      </div>
      <div class="year-content">
        <%= statement.year %>
      </div>
      <div class="amount-content">
        <%= number_to_currency(statement.amount) %>
      </div>
      <div class="download-content">
        <%= link_to 'PDF', user_hosted_file_path(statement.user, statement.filename) %>
      </div>
    </div>
  <% end %>
</div>
