<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<section>
		<div class="row_form">
			<span class="field">
				<%= f.label :first_name %>
				<%= f.text_field :first_name, class: "input-large" %>
			</span>
			<span class="field">
				<%= f.label :last_name %>
				<%= f.text_field :last_name, class: "input-large" %>
			</span>
		</div>
		<div class="row_form">
			<span class="field">
				<%= f.label :email %>
				<%= f.text_field :email, class: "input-large" %>
			</span>
			<span id="change_password" class="field">
				<%= link_to "Change my password", new_password_reset_path, 
							class: "btn btn-medium btn-custom"%>
			</span>
		</div>
	<%= render 'shared/non_admin_edit_fields', f: f unless current_user.admin? %>
	</section>
	<section>
		<div id='password'class="row_form">Enter your password to submit changes:</div>
		<div class="row_form">
			<div class="field">
				<%= f.label :password %>
				<%= f.password_field :password, class: "input-medium" %>
			</div>
			<div class="field">
				<%= f.label :password_confirmation, "Confirm password" %>
				<%= f.password_field :password_confirmation, class: "input-medium" %>
			</div>
		</div>
		<%= f.hidden_field :pending, value: true unless current_user.admin? %>
		<div class="row_form">
			<%= f.submit "Save changes", class: "btn btn-large btn-custom" %>
		</div>
	</section>
<% end %>