<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<section>
		<div class="row_form">
			<span class="field">
				<%= f.label :first_name %>
				<%= f.text_field :first_name, class: "input-large" %>
			</span>
			<span class="field">
				<%= f.label :last_name %>
				<%= f.text_field :last_name, class: "input-large" %>
			</span>
		</div>
		<div class="row_form">
			<span class="field">
				<%= f.label :email %>
				<%= f.text_field :email, class: "input-large" %>
			</span>
			<span id="change_password" class="field">
				<%= link_to "Change my password", new_password_reset_path, 
							class: "btn btn-medium btn-info"%>
			</span>
		</div>
		<div class="row_form">
			<span class="field">
				<%= f.label :area_code %>
				<%= f.text_field :area_code, class: "input-mini" %>
			</span>
			<span class="field">
				<%= f.label :phone_number %>
				<%= f.text_field :phone_number, class: "input-small" %>
			</span>
		</div>
		<div class="row_form">
			<span class="field">
				<%= f.label "Apartment #" %>
				<%= f.text_field :apartment_number, class: "input-mini" %>
			</span>
			<span class="field">
				<%= f.label "Address #" %>
				<%= f.text_field :address_number, class: "input-mini" %>
			</span>
			<span class="field">
				<%= f.label :street_name %>
				<%= f.text_field :street_name, class: "input-large" %>
			</span>
		</div>
		<div class="row_form">
				<span class="field">
					<%= f.label :city %>
					<%= f.text_field :city, class: "input-medium" %>
				</span>
				<span class="field">
					<%= f.label :state %>
					<%= f.text_field :state, class: "input-mini" %>
				</span>
				<span class="field">
					<%= f.label :zip_code %>
					<%= f.text_field :zip_code, class: "input-small"%>
				</span>
		</div>
	</section>
	<section>
		<div id='password'class="row_form">Enter your password to submit changes:</div>
		<div class="row_form">
			<div class="field">
				<%= f.label :password %>
				<%= f.password_field :password, class: "input-medium" %>
			</div>
			<div class="field">
				<%= f.label :password_confirmation, "Confirm password" %>
				<%= f.password_field :password_confirmation, class: "input-medium" %>
			</div>
		</div>
		<div class="row_form">
			<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
		</div>
	</section>
<% end %>