<div class="row_form">
  <span class="field">
    <%= f.label :area_code %>
    <%= f.text_field :area_code, class: "input-mini" %>
  </span>
  <span class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: "input-small" %>
  </span>
</div>
<div class="row_form">
  <span class="field">
    <%= f.label "Apartment #" %>
    <%= f.text_field :apartment_number, class: "input-mini" %>
  </span>
  <span class="field">
    <%= f.label "Address #" %>
    <%= f.text_field :address_number, class: "input-mini" %>
  </span>
  <span class="field">
    <%= f.label :street_name %>
    <%= f.text_field :street_name, class: "input-large" %>
  </span>
</div>
<div class="row_form">
  <span class="field">
    <%= f.label :city %>
    <%= f.text_field :city, class: "input-medium" %>
  </span>
  <span class="field">
    <%= f.label :state %>
    <%= f.text_field :state, class: "input-mini" %>
  </span>
  <span class="field">
    <%= f.label :zip_code %>
    <%= f.text_field :zip_code, class: "input-small"%>
  </span>
</div>