<h4>NAME</h4>
<div><%= "#{user.first_name} #{user.last_name}" %></div>
<h4>EMAIL</h4>
  <div><%= user.email %></div>
<h4>PHONE</h4>
  <% if user.area_code.blank? || user.phone_number.blank? # needs to be implimented similarly for address below %>
    <%= not_provided %>
  <% else %>
    <div><%= "(#{user.area_code}) #{user.phone_number}" %></div>
  <% end %>
<h4>ADDRESS</h4>
  <div><%= "#{user.address_number} #{user.street_name}"%></div>
  <div><%= "Apartment: #{user.apartment_number}" if user.apartment_number?%></div>
  <div><%= "#{user.city}, #{user.state}, #{user.zip_code}"%></div>


